In [1]:
import numpy as np
import pandas as pd
from IPython.display import HTML, display
import math

In [2]:
def analysis(df):
    listDf = list(df.columns)
    for column in listDf:
        print('В колонке **'+column+'**')
        print('\n')
        print(df[column].isna().value_counts())
        print('\n')

In [3]:
df = pd.read_csv('main_task_new.csv')

In [4]:
df.head(10)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963
5,id_1418,Oporto,NaN,1419.0,3.0,NaN,2.0,"[['There are better 3 star hotel bars', 'Amazi...",/Restaurant_Review-g189180-d12503536-Reviews-D...,d12503536
6,id_1720,Milan,"['Italian', 'Pizza']",1722.0,4.0,$,50.0,"[['Excellent simple local eatery.', 'Excellent...",/Restaurant_Review-g187849-d5808504-Reviews-Pi...,d5808504
7,id_825,Bratislava,['Italian'],826.0,3.0,NaN,9.0,"[['Wasting of money', 'excellent cuisine'], ['...",/Restaurant_Review-g274924-d3199765-Reviews-Ri...,d3199765
8,id_2690,Vienna,NaN,2692.0,4.0,NaN,NaN,"[[], []]",/Restaurant_Review-g190454-d12845029-Reviews-G...,d12845029
9,id_4209,Rome,"['Italian', 'Pizza', 'Fast Food']",4210.0,4.0,$,55.0,"[['Clean efficient staff', 'Nice little pizza ...",/Restaurant_Review-g187791-d8020681-Reviews-Qu...,d8020681

In [5]:
df.columns

Index(['Restaurant_id', 'City', 'Cuisine Style', 'Ranking', 'Rating',
       'Price Range', 'Number of Reviews', 'Reviews', 'URL_TA', 'ID_TA'],
      dtype='object')

По Restaurant_id можно усзнать сколько ресторанов в сети от 1 до n

In [6]:
restIdCounts = df['Restaurant_id'].value_counts()

df['Restaurant_id'] = df['Restaurant_id'].apply(lambda a : restIdCounts[a] )

In [7]:
#df=df.drop('Restaurant_id',axis=1)

Заменим город на количество населения города

In [8]:
df['City'].value_counts()

London        5757
Paris         4897
Madrid        3108
Barcelona     2734
Berlin        2155
Milan         2133
Rome          2078
Prague        1443
Lisbon        1300
Vienna        1166
Amsterdam     1086
Brussels      1060
Hamburg        949
Munich         893
Lyon           892
Stockholm      820
Budapest       816
Warsaw         727
Dublin         673
Copenhagen     659
Athens         628
Edinburgh      596
Zurich         538
Oporto         513
Geneva         481
Krakow         443
Oslo           385
Helsinki       376
Bratislava     301
Luxembourg     210
Ljubljana      183
Name: City, dtype: int64

In [9]:
df['City'] = df['City'].apply(lambda a: 8908081 if (a == 'London') else \
                 2138551 if (a == 'Paris') else \
                 3334730 if (a == 'Madrid') else \
                 1664182 if (a == 'Barcelona') else \
                 3644826 if (a == 'Berlin') else \
                 1366180 if (a == 'Milan') else \
                 2870500 if (a == 'Rome') else \
                 1335084 if (a == 'Prague') else \
                 506654 if (a == 'Lisbon') else \
                 1911191 if (a == 'Vienna') else \
                 741636 if (a == 'Amsterdam') else \
                 185103 if (a == 'Brussels') else \
                 1845229 if (a == 'Hamburg') else \
                 1471508 if (a == 'Munich') else \
                 472317  if (a == 'Lyon') else \
                 1632123 if (a == 'Stockholm') else \
                 1752286 if (a == 'Budapest') else \
                 1720398 if (a == 'Warsaw') else \
                 1173179 if (a == 'Dublin') else \
                 794128 if (a == 'Copenhagen') else \
                 821021 if (a == 'Athens') else \
                 488050 if (a == 'Edinburgh') else \
                 434008 if (a == 'Zurich') else \
                 287591 if (a == 'Oporto') else \
                 221818 if (a == 'Geneva') else \
                 779115 if (a == 'Krakow') else \
                 693494 if (a == 'Oslo') else \
                 655281 if (a == 'Helsinki') else \
                 437725 if (a == 'Bratislava') else \
                 633622 if (a == 'Luxembourg') else \
                 284355 if (a == 'Ljubljana') else a )

In [10]:
#df=df.drop('City',axis=1)

Очищяем от лишних символов, заполняем пропуски, формируем dummy признаки ...
а сам признак заполняем количеством видом приготовлений еды

In [11]:
df['Cuisine Style'] = df['Cuisine Style'].apply(lambda a: a.replace('[','')\
                                                .replace(']','')\
                                                .replace(' ','')\
                                                .replace("'",'').replace('"','')\
                                                if(type(a) ==type('str'))\
                                                   else a)

In [12]:
df['Cuisine Style']

0                            European,French,International
1                                                      NaN
2        Japanese,Sushi,Asian,Grill,VegetarianFriendly,...
3                                                      NaN
4                German,CentralEuropean,VegetarianFriendly
                               ...
39995    Italian,VegetarianFriendly,VeganOptions,Gluten...
39996      French,American,Bar,European,VegetarianFriendly
39997                                       Japanese,Sushi
39998    Polish,European,EasternEuropean,CentralEuropea...
39999                                              Spanish
Name: Cuisine Style, Length: 40000, dtype: object

In [13]:
df['Cuisine Style'].apply(lambda a: len(a.split(',')) if (type(a) == type('str')) else a).mean()

3.1127063189764623

Заполняем пропуски тремя самыми популярными кухнями

In [14]:
arr=[]

#соберем все кухни в одно ...
for row in df["Cuisine Style"]:
    if type(row)!=type('str'):
        continue 
    for item in row.split(','):
        arr.append(item)
        
        
        
df["Cuisine Style"] = df["Cuisine Style"].fillna( str(list(pd.Series(arr)\
                                     .value_counts()[0:3]\
                                     .index))\
#берем 3 самых популярные кухни и убераем из str лишнее
                           .replace('[','')\
                           .replace(']','')\
                           .replace(' ','')\
                           .replace("'",'')\
                           .replace('"','')
                          )

arr Содержит все кухни ...
добавим уникальные кухни к столбцам df и заполним нулями

In [15]:
arr

['European',
 'French',
 'International',
 'Japanese',
 'Sushi',
 'Asian',
 'Grill',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'German',
 'CentralEuropean',
 'VegetarianFriendly',
 'Italian',
 'Pizza',
 'Italian',
 'Italian',
 'Pizza',
 'FastFood',
 'Italian',
 'Pizza',
 'VegetarianFriendly',
 'Italian',
 'Pizza',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Mediterranean',
 'Spanish',
 'Healthy',
 'Cafe',
 'Japanese',
 'Asian',
 'Thai',
 'Vietnamese',
 'Bar',
 'Pub',
 'German',
 'Chinese',
 'German',
 'VegetarianFriendly',
 'Bar',
 'British',
 'Pub',
 'Asian',
 'Thai',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'VeganOptions',
 'Cafe',
 'British',
 'Polish',
 'International',
 'European',
 'Fusion',
 'Dutch',
 'European',
 'Vietnamese',
 'Italian',
 'Pizza',
 'Italian',
 'Mexican',
 'Venezuelan',
 'SouthAmerican',
 'Italian',
 'Japanese',
 'Sushi',
 'Asian',
 'French',
 'Bar',
 'Cafe',
 'Mediterranean',
 'Pub',
 'Asian',
 'Thai',
 'VegetarianFriendly',
 'Soups',
 'Healthy',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Pub',
 'Japanese',
 'Pizza',
 'Italian',
 'Belgian',
 'European',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Cafe',
 'Mediterranean',
 'Spanish',
 'VegetarianFriendly',
 'French',
 'European',
 'VegetarianFriendly',
 'Chinese',
 'FastFood',
 'French',
 'Vietnamese',
 'Italian',
 'Pizza',
 'European',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Steakhouse',
 'Latin',
 'Barbecue',
 'European',
 'Argentinean',
 'SouthAmerican',
 'VegetarianFriendly',
 'Cafe',
 'Italian',
 'Japanese',
 'Sushi',
 'VegetarianFriendly',
 'Spanish',
 'Healthy',
 'Mediterranean',
 'VegetarianFriendly',
 'Irish',
 'Seafood',
 'European',
 'Soups',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Japanese',
 'Asian',
 'Fusion',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Seafood',
 'Mediterranean',
 'Spanish',
 'Chinese',
 'Asian',
 'Italian',
 'Pizza',
 'Swiss',
 'European',
 'French',
 'Irish',
 'European',
 'Bar',
 'International',
 'European',
 'Portuguese',
 'Mediterranean',
 'Contemporary',
 'WineBar',
 'VegetarianFriendly',
 'Italian',
 'European',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Spanish',
 'Cafe',
 'Seafood',
 'Mediterranean',
 'European',
 'Greek',
 'Soups',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Mexican',
 'FastFood',
 'SouthAmerican',
 'CentralAmerican',
 'VegetarianFriendly',
 'Japanese',
 'Sushi',
 'Asian',
 'Italian',
 'Pizza',
 'Mediterranean',
 'Barbecue',
 'Grill',
 'VegetarianFriendly',
 'Sushi',
 'Mediterranean',
 'Grill',
 'Italian',
 'German',
 'European',
 'VegetarianFriendly',
 'Chinese',
 'Japanese',
 'Seafood',
 'Sushi',
 'VegetarianFriendly',
 'Italian',
 'Indian',
 'Asian',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'MiddleEastern',
 'Turkish',
 'FastFood',
 'Healthy',
 'SouthAmerican',
 'Latin',
 'CentralAmerican',
 'Venezuelan',
 'Pub',
 'Bar',
 'French',
 'Seafood',
 'European',
 'Healthy',
 'CentralEuropean',
 'VegetarianFriendly',
 'Italian',
 'Pizza',
 'Chinese',
 'Italian',
 'Mediterranean',
 'Spanish',
 'VegetarianFriendly',
 'French',
 'European',
 'Hungarian',
 'French',
 'European',
 'European',
 'Portuguese',
 'European',
 'French',
 'Seafood',
 'Italian',
 'Mediterranean',
 'German',
 'Chinese',
 'Italian',
 'French',
 'Swiss',
 'European',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Italian',
 'Pizza',
 'Pizza',
 'VegetarianFriendly',
 'VeganOptions',
 'Indian',
 'MiddleEastern',
 'Pakistani',
 'Italian',
 'Italian',
 'Pizza',
 'Mediterranean',
 'European',
 'VegetarianFriendly',
 'Italian',
 'Mediterranean',
 'European',
 'VegetarianFriendly',
 'Italian',
 'Pizza',
 'Mediterranean',
 'European',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Peruvian',
 'Asian',
 'SouthAmerican',
 'Italian',
 'Mediterranean',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Italian',
 'Pizza',
 'Mediterranean',
 'European',
 'Delicatessen',
 'VegetarianFriendly',
 'Mediterranean',
 'European',
 'Spanish',
 'Cafe',
 'Cafe',
 'Cafe',
 'British',
 'Greek',
 'Bar',
 'Polish',
 'European',
 'EasternEuropean',
 'Steakhouse',
 'Pub',
 'VegetarianFriendly',
 'Swedish',
 'Scandinavian',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Spanish',
 'Italian',
 'Pizza',
 'VegetarianFriendly',
 'Asian',
 'Tibetan',
 'Nepali',
 'European',
 'WineBar',
 'EasternEuropean',
 'CentralEuropean',
 'Hungarian',
 'Contemporary',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Italian',
 'Mediterranean',
 'Italian',
 'Italian',
 'Seafood',
 'Bar',
 'Mediterranean',
 'Spanish',
 'Japanese',
 'Sushi',
 'Asian',
 'VegetarianFriendly',
 'Spanish',
 'European',
 'VegetarianFriendly',
 'Cafe',
 'Bar',
 'European',
 'Pub',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'FastFood',
 'Barbecue',
 'Vietnamese',
 'Healthy',
 'VegetarianFriendly',
 'British',
 'Bar',
 'European',
 'Chinese',
 'Asian',
 'VegetarianFriendly',
 'Asian',
 'Korean',
 'Steakhouse',
 'Southwestern',
 'Barbecue',
 'Grill',
 'WineBar',
 'Cafe',
 'Contemporary',
 'French',
 'German',
 'VegetarianFriendly',
 'French',
 'Cafe',
 'International',
 'Indian',
 'VegetarianFriendly',
 'VeganOptions',
 'European',
 'Healthy',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'European',
 'Czech',
 'CentralEuropean',
 'American',
 'Contemporary',
 'VegetarianFriendly',
 'Italian',
 'European',
 'Seafood',
 'Mediterranean',
 'European',
 'Slovenian',
 'VegetarianFriendly',
 'French',
 'European',
 'Italian',
 'Mediterranean',
 'GlutenFreeOptions',
 'American',
 'Bar',
 'Pub',
 'VegetarianFriendly',
 'VeganOptions',
 'Italian',
 'Mediterranean',
 'Cafe',
 'Contemporary',
 'Pizza',
 'Italian',
 'VegetarianFriendly',
 'VeganOptions',
 'Turkish',
 'Indian',
 'MiddleEastern',
 'Pakistani',
 'Seafood',
 'Italian',
 'Italian',
 'European',
 'Mediterranean',
 'European',
 'Portuguese',
 'Italian',
 'Pizza',
 'Seafood',
 'Mediterranean',
 'Barbecue',
 'VegetarianFriendly',
 'VeganOptions',
 'Balti',
 'Indian',
 'Asian',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'European',
 'CentralEuropean',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Japanese',
 'Sushi',
 'Asian',
 'Pizza',
 'FastFood',
 'Greek',
 'StreetFood',
 'Italian',
 'Mediterranean',
 'European',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Peruvian',
 'SouthAmerican',
 'VegetarianFriendly',
 'Italian',
 'Indian',
 'Asian',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'VeganOptions',
 'Belgian',
 'European',
 'International',
 'VegetarianFriendly',
 'Spanish',
 'Italian',
 'Seafood',
 'Mediterranean',
 'European',
 'Healthy',
 'Asian',
 'Vietnamese',
 'VegetarianFriendly',
 'VeganOptions',
 'American',
 'Bar',
 'European',
 'Pub',
 'International',
 'Seafood',
 'Mediterranean',
 'European',
 'Portuguese',
 'Soups',
 'Mediterranean',
 'Spanish',
 'VegetarianFriendly',
 'VeganOptions',
 'Pizza',
 'FastFood',
 'European',
 'Healthy',
 'Hungarian',
 'VegetarianFriendly',
 'FastFood',
 'Mexican',
 'Italian',
 'Pizza',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Asian',
 'Thai',
 'VegetarianFriendly',
 'Indian',
 'Asian',
 'Balti',
 'EasternEuropean',
 'VegetarianFriendly',
 'Greek',
 'French',
 'Healthy',
 'Delicatessen',
 'StreetFood',
 'Sushi',
 'French',
 'Mediterranean',
 'European',
 'Contemporary',
 'Fusion',
 'Diner',
 'Bar',
 'Italian',
 'American',
 'FastFood',
 'Diner',
 'VegetarianFriendly',
 'Bar',
 'Pub',
 'International',
 'Indian',
 'VegetarianFriendly',
 'Italian',
 'Seafood',
 'Mediterranean',
 'Soups',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Argentinean',
 'SouthAmerican',
 'Mediterranean',
 'European',
 'Portuguese',
 'Chinese',
 'Japanese',
 'Asian',
 'Thai',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'European',
 'CentralEuropean',
 'Hungarian',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Italian',
 'Pizza',
 'Mediterranean',
 'VegetarianFriendly',
 'VeganOptions',
 'Italian',
 'Mediterranean',
 'European',
 'VegetarianFriendly',
 'Spanish',
 'Greek',
 'Japanese',
 'Asian',
 'Sushi',
 'Asian',
 'German',
 'Cafe',
 'European',
 'Fusion',
 'Mediterranean',
 'VegetarianFriendly',
 'VeganOptions',
 'Asian',
 'European',
 'Portuguese',
 'Indian',
 'Nepali',
 'VegetarianFriendly',
 'VeganOptions',
 'Italian',
 'Mediterranean',
 'European',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Italian',
 'Seafood',
 'Mediterranean',
 'Bar',
 'French',
 'Pub',
 'American',
 'Bar',
 'CentralAmerican',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Steakhouse',
 'Spanish',
 'WineBar',
 'Italian',
 'Mediterranean',
 'European',
 'VegetarianFriendly',
 'Italian',
 'StreetFood',
 'BrewPub',
 'French',
 'Mediterranean',
 'European',
 'Spanish',
 'Pizza',
 'VegetarianFriendly',
 'VeganOptions',
 'Caribbean',
 'Portuguese',
 'Mediterranean',
 'European',
 'Asian',
 'VegetarianFriendly',
 'Asian',
 'Thai',
 'VegetarianFriendly',
 'European',
 'British',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Asian',
 'Thai',
 'Austrian',
 'European',
 'CentralEuropean',
 'VegetarianFriendly',
 'Moroccan',
 'Mediterranean',
 'Italian',
 'Pizza',
 'European',
 'VegetarianFriendly',
 'Seafood',
 'Mediterranean',
 'Spanish',
 'European',
 'VegetarianFriendly',
 'European',
 'Mediterranean',
 'VegetarianFriendly',
 'Chinese',
 'Asian',
 'Bar',
 'British',
 'Pub',
 'VegetarianFriendly',
 'Indian',
 'Asian',
 'Pakistani',
 'VegetarianFriendly',
 'Halal',
 'Bar',
 'British',
 'Pub',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Japanese',
 'Sushi',
 'Japanese',
 'Sushi',
 'Asian',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Italian',
 'Lebanese',
 'Mediterranean',
 'MiddleEastern',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Asian',
 'Korean',
 'Japanese',
 'French',
 'European',
 'International',
 'VegetarianFriendly',
 'Mediterranean',
 'Spanish',
 'American',
 'Bar',
 'Hungarian',
 'European',
 'Pub',
 'VegetarianFriendly',
 'Seafood',
 'Mediterranean',
 'Barbecue',
 'European',
 'Portuguese',
 'Italian',
 'Japanese',
 'Asian',
 'FastFood',
 'European',
 'Hungarian',
 'Italian',
 'Pizza',
 'Seafood',
 'Mediterranean',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'European',
 'Italian',
 'Pizza',
 'Mediterranean',
 'European',
 'Spanish',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'VeganOptions',
 'French',
 'American',
 'Steakhouse',
 'Bar',
 'Barbecue',
 'Russian',
 'Italian',
 'Italian',
 'Pizza',
 'Italian',
 'Pizza',
 'Mediterranean',
 'European',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'American',
 'Latin',
 'Venezuelan',
 'French',
 'European',
 'VegetarianFriendly',
 'Cafe',
 'Portuguese',
 'European',
 'Mediterranean',
 'European',
 'Turkish',
 'MiddleEastern',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Spanish',
 'French',
 'Turkish',
 'VegetarianFriendly',
 'Cafe',
 'Italian',
 'Mediterranean',
 'European',
 'Chinese',
 'Asian',
 'Pizza',
 'Seafood',
 'Mediterranean',
 'European',
 'Portuguese',
 'American',
 'VegetarianFriendly',
 'Sushi',
 'Asian',
 'Thai',
 'VegetarianFriendly',
 'Mexican',
 'Latin',
 'VegetarianFriendly',
 'VeganOptions',
 'Italian',
 'Pizza',
 'VegetarianFriendly',
 'VeganOptions',
 'African',
 'European',
 'Contemporary',
 'Portuguese',
 'French',
 'Bar',
 'International',
 'Pub',
 'Mediterranean',
 'Greek',
 'VegetarianFriendly',
 'VeganOptions',
 'Steakhouse',
 'Japanese',
 'International',
 'Asian',
 'Fusion',
 'VegetarianFriendly',
 'VeganOptions',
 'Japanese',
 'Sushi',
 'Asian',
 'Mediterranean',
 'Spanish',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Belgian',
 'Bar',
 'European',
 'Pub',
 'Italian',
 'Pizza',
 'Mediterranean',
 'Vietnamese',
 'StreetFood',
 'Italian',
 'Pizza',
 'European',
 'Contemporary',
 'Seafood',
 'Healthy',
 'Pizza',
 'Italian',
 'Austrian',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Mediterranean',
 'Spanish',
 'VegetarianFriendly',
 'Spanish',
 'Seafood',
 'Mediterranean',
 'European',
 'Italian',
 'Asian',
 'Thai',
 'Vietnamese',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Bar',
 'Pub',
 'Spanish',
 'Indian',
 'Asian',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Mediterranean',
 'European',
 'Spanish',
 'GlutenFreeOptions',
 'Italian',
 'VegetarianFriendly',
 'Chinese',
 'Asian',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Japanese',
 'Sushi',
 'Asian',
 'VegetarianFriendly',
 'Mediterranean',
 'European',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Italian',
 'Seafood',
 'Mediterranean',
 'European',
 'Contemporary',
 'VegetarianFriendly',
 'American',
 'Pizza',
 'Seafood',
 'American',
 'Bar',
 'British',
 'Mexican',
 'American',
 'Italian',
 'Bar',
 'Cafe',
 'Mediterranean',
 'European',
 'Pub',
 'WineBar',
 'VegetarianFriendly',
 'Italian',
 'Seafood',
 'Mediterranean',
 'VegetarianFriendly',
 'GlutenFreeOptions',
 'Italian',
 'Pizza',
 'Mediterranean',
 'VegetarianFriendly',
 'American',
 'Bar',
 'Ethiopian',
 'Italian',
 'Pizza',
 'Mediterranean',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Pizza',
 'VegetarianFriendly',
 'European',
 'Czech',
 'Moroccan',
 'Mediterranean',
 'VegetarianFriendly',
 'French',
 'European',
 'Bar',
 'European',
 'Pub',
 'VegetarianFriendly',
 'Mediterranean',
 'Spanish',
 'European',
 'GlutenFreeOptions',
 'Italian',
 'Mediterranean',
 'Mediterranean',
 'Egyptian',
 'Cafe',
 'British',
 'Spanish',
 'Chinese',
 'Asian',
 'VegetarianFriendly',
 'Mediterranean',
 'European',
 'Spanish',
 'VegetarianFriendly',
 'Italian',
 'Pizza',
 'VegetarianFriendly',
 'Chinese',
 'Asian',
 'VegetarianFriendly',
 'Italian',
 'Mediterranean',
 'European',
 'VegetarianFriendly',
 'Asian',
 'Pizza',
 'Bar',
 'Spanish',
 'Pub',
 'Italian',
 'Cafe',
 'European',
 'CentralEuropean',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'European',
 'Portuguese',
 'French',
 'European',
 'British',
 'European',
 'Cafe',
 'VegetarianFriendly',
 'VeganOptions',
 'Japanese',
 'Sushi',
 'Asian',
 'French',
 'WineBar',
 'Mediterranean',
 'MiddleEastern',
 'Moroccan',
 'FastFood',
 'VegetarianFriendly',
 'VeganOptions',
 'Italian',
 'American',
 'VegetarianFriendly',
 'VeganOptions',
 'GlutenFreeOptions',
 'Japanese',
 'Sushi',
 'Japanese',
 'Sushi',
 'French',
 'European',
 'Mexican',
 'Italian',
 'French',
 'European',
 'VegetarianFriendly',
 'European',
 'Danish',
 'Scandinavian',
 'Soups',
 'International',
 'Italian',
 'Pizza',
 ...]

In [16]:
arr = pd.Series(arr).unique()

In [17]:
arr

array(['European', 'French', 'International', 'Japanese', 'Sushi',
       'Asian', 'Grill', 'VegetarianFriendly', 'VeganOptions',
       'GlutenFreeOptions', 'German', 'CentralEuropean', 'Italian',
       'Pizza', 'FastFood', 'Mediterranean', 'Spanish', 'Healthy', 'Cafe',
       'Thai', 'Vietnamese', 'Bar', 'Pub', 'Chinese', 'British', 'Polish',
       'Fusion', 'Dutch', 'Mexican', 'Venezuelan', 'SouthAmerican',
       'Soups', 'Belgian', 'Steakhouse', 'Latin', 'Barbecue',
       'Argentinean', 'Irish', 'Seafood', 'Swiss', 'Portuguese',
       'Contemporary', 'WineBar', 'Greek', 'CentralAmerican', 'Indian',
       'MiddleEastern', 'Turkish', 'Hungarian', 'Pakistani', 'Peruvian',
       'Delicatessen', 'EasternEuropean', 'Swedish', 'Scandinavian',
       'Tibetan', 'Nepali', 'Korean', 'Southwestern', 'Czech', 'American',
       'Slovenian', 'Balti', 'StreetFood', 'Diner', 'BrewPub',
       'Caribbean', 'Austrian', 'Moroccan', 'Halal', 'Lebanese',
       'Russian', 'African', 'Ethiopian', 'Egyptian', 'Danish',
       'Brazilian', 'Ecuadorean', 'Israeli', 'Kosher', 'Gastropub',
       'Australian', 'Singaporean', 'Malaysian', 'MinorityChinese',
       'Scottish', 'Arabic', 'Ukrainian', 'Chilean', 'Mongolian', 'Cuban',
       'Persian', 'Indonesian', 'Colombian', 'Jamaican', 'Norwegian',
       'Hawaiian', 'Armenian', 'Taiwanese', 'Bangladeshi', 'SriLankan',
       'Cambodian', 'Albanian', 'NewZealand', 'Croatian', 'CentralAsian',
       'Filipino', 'Tunisian', 'Cajun&Creole', 'Romanian', 'Georgian',
       'Polynesian', 'Azerbaijani', 'Caucasian', 'Afghani', 'Uzbek',
       'Salvadoran', 'Yunnan', 'NativeAmerican', 'Canadian', 'Xinjiang',
       'Burmese', 'Fujian', 'Welsh', 'Latvian'], dtype=object)

In [18]:
#pd.Series(arr)
arrDf=pd.DataFrame(columns=arr )
df = pd.concat([df,pd.DataFrame(columns=arr )])

In [19]:
df[arr] = df[arr].fillna(0)

Формируем dummy ...

In [20]:
for index, row in df.iterrows():
    arr = row["Cuisine Style"].split(',')
    for item in arr:
        df.loc[index,item]=1

In [21]:
df[df.columns[2:14]]

,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,European,French,International,Japanese
0,"European,French,International",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,1,1,1,0
1,"VegetarianFriendly,European,Mediterranean",1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,1,0,0,0
2,"Japanese,Sushi,Asian,Grill,VegetarianFriendly,...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,0,0,0,1
3,"VegetarianFriendly,European,Mediterranean",3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,1,0,0,0
4,"German,CentralEuropean,VegetarianFriendly",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
39995,"Italian,VegetarianFriendly,VeganOptions,Gluten...",500.0,4.5,$$ - $$$,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414,0,0,0,0
39996,"French,American,Bar,European,VegetarianFriendly",6341.0,3.5,$$ - $$$,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036,1,1,0,0
39997,"Japanese,Sushi",1652.0,4.5,NaN,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615,0,0,0,1
39998,"Polish,European,EasternEuropean,CentralEuropea...",641.0,4.0,$$ - $$$,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838,1,0,0,0
39999,Spanish,4827.0,3.0,$$ - $$$,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020,0,0,0,0

Заменим признак на количество кухон ...

In [22]:
df['Cuisine Style'] = df['Cuisine Style'].apply(lambda a: len(a.split(',')) if (type(a) ==type('str')) else a)

In [23]:
df['Cuisine Style']

0        3
1        3
2        7
3        3
4        3
        ..
39995    4
39996    5
39997    2
39998    5
39999    1
Name: Cuisine Style, Length: 40000, dtype: int64

In [24]:
df['Price Range'].value_counts(normalize=True)

$$ - $$$    0.705062
$           0.240446
$$$$        0.054492
Name: Price Range, dtype: float64

Заменим на dummy

In [25]:
df['Price Range'] = df['Price Range'].fillna('$$ - $$$')

In [26]:
df = pd.concat ([df, pd.DataFrame(columns=['minMoney','meanMoney','maxMoney']) ] )

In [27]:
df[df.columns[-3:]] = df[df.columns[-3:]].fillna(0)

In [28]:
for index, row in df.iterrows():
    if (row["Price Range"] == '$$ - $$$'):
        df.loc[index,'meanMoney']=1
    if (row["Price Range"] == '$'):
        df.loc[index,'minMoney']=1
    if (row["Price Range"] == '$$$$'):
        df.loc[index,'maxMoney']=1

In [29]:
df=df.drop('Price Range',axis=1)

In [30]:
df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Number of Reviews,Reviews,URL_TA,ID_TA,European,...,NativeAmerican,Canadian,Xinjiang,Burmese,Fujian,Welsh,Latvian,minMoney,meanMoney,maxMoney
0,3.0,2138551.0,3.0,5570.0,3.5,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
1,10.0,1632123.0,3.0,1537.0,4.0,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
2,8.0,8908081.0,7.0,353.0,4.5,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
3,4.0,3644826.0,3.0,3458.0,5.0,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
4,14.0,1471508.0,3.0,621.0,4.0,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,14.0,1366180.0,4.0,500.0,4.5,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
39996,2.0,2138551.0,5.0,6341.0,3.5,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
39997,10.0,1632123.0,2.0,1652.0,4.5,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
39998,8.0,1720398.0,5.0,641.0,4.0,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
39999,4.0,1366180.0,1.0,4827.0,3.0,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0

In [31]:
df['Number of Reviews'] = df['Number of Reviews'].fillna(df['Number of Reviews'].mean())

In [32]:
df.columns

Index(['Restaurant_id', 'City', 'Cuisine Style', 'Ranking', 'Rating',
       'Number of Reviews', 'Reviews', 'URL_TA', 'ID_TA', 'European',
       ...
       'NativeAmerican', 'Canadian', 'Xinjiang', 'Burmese', 'Fujian', 'Welsh',
       'Latvian', 'minMoney', 'meanMoney', 'maxMoney'],
      dtype='object', length=137)

In [33]:
df['Reviews'][5]

"[['There are better 3 star hotel bars', 'Amazing views, friendly service and good q...'], ['09/16/2017', '05/31/2017']]"

In [34]:
df= df.drop(['Reviews','URL_TA','ID_TA'],axis=1)

In [35]:
df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Number of Reviews,European,French,International,Japanese,...,NativeAmerican,Canadian,Xinjiang,Burmese,Fujian,Welsh,Latvian,minMoney,meanMoney,maxMoney
0,3.0,2138551.0,3.0,5570.0,3.5,194.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
1,10.0,1632123.0,3.0,1537.0,4.0,10.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
2,8.0,8908081.0,7.0,353.0,4.5,688.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
3,4.0,3644826.0,3.0,3458.0,5.0,3.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
4,14.0,1471508.0,3.0,621.0,4.0,84.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,14.0,1366180.0,4.0,500.0,4.5,79.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
39996,2.0,2138551.0,5.0,6341.0,3.5,542.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
39997,10.0,1632123.0,2.0,1652.0,4.5,4.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
39998,8.0,1720398.0,5.0,641.0,4.0,70.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
39999,4.0,1366180.0,1.0,4827.0,3.0,260.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0

In [36]:
analysis(df)

В колонке **Restaurant_id**


False    40000
Name: Restaurant_id, dtype: int64


В колонке **City**


False    40000
Name: City, dtype: int64


В колонке **Cuisine Style**


False    40000
Name: Cuisine Style, dtype: int64


В колонке **Ranking**


False    40000
Name: Ranking, dtype: int64


В колонке **Rating**


False    40000
Name: Rating, dtype: int64


В колонке **Number of Reviews**


False    40000
Name: Number of Reviews, dtype: int64


В колонке **European**


False    40000
Name: European, dtype: int64


В колонке **French**


False    40000
Name: French, dtype: int64


В колонке **International**


False    40000
Name: International, dtype: int64


В колонке **Japanese**


False    40000
Name: Japanese, dtype: int64


В колонке **Sushi**


False    40000
Name: Sushi, dtype: int64


В колонке **Asian**


False    40000
Name: Asian, dtype: int64


В колонке **Grill**


False    40000
Name: Grill, dtype: int64


В колонке **VegetarianFriendly**


False    40000
Name: VegetarianFriendly, dtype: int64


В колонке **VeganOptions**


False    40000
Name: VeganOptions, dtype: int64


В колонке **GlutenFreeOptions**


False    40000
Name: GlutenFreeOptions, dtype: int64


В колонке **German**


False    40000
Name: German, dtype: int64


В колонке **CentralEuropean**


False    40000
Name: CentralEuropean, dtype: int64


В колонке **Italian**


False    40000
Name: Italian, dtype: int64


В колонке **Pizza**


False    40000
Name: Pizza, dtype: int64


В колонке **FastFood**


False    40000
Name: FastFood, dtype: int64


В колонке **Mediterranean**


False    40000
Name: Mediterranean, dtype: int64


В колонке **Spanish**


False    40000
Name: Spanish, dtype: int64


В колонке **Healthy**


False    40000
Name: Healthy, dtype: int64


В колонке **Cafe**


False    40000
Name: Cafe, dtype: int64


В колонке **Thai**


False    40000
Name: Thai, dtype: int64


В колонке **Vietnamese**


False    40000
Name: Vietnamese, dtype: int64


В колонке **Bar**


False    40000
Name: Bar, dtype: int64


В колонке **Pub**


False    40000
Name: Pub, dtype: int64


В колонке **Chinese**


False    40000
Name: Chinese, dtype: int64


В колонке **British**


False    40000
Name: British, dtype: int64


В колонке **Polish**


False    40000
Name: Polish, dtype: int64


В колонке **Fusion**


False    40000
Name: Fusion, dtype: int64


В колонке **Dutch**


False    40000
Name: Dutch, dtype: int64


В колонке **Mexican**


False    40000
Name: Mexican, dtype: int64


В колонке **Venezuelan**


False    40000
Name: Venezuelan, dtype: int64


В колонке **SouthAmerican**


False    40000
Name: SouthAmerican, dtype: int64


В колонке **Soups**


False    40000
Name: Soups, dtype: int64


В колонке **Belgian**


False    40000
Name: Belgian, dtype: int64


В колонке **Steakhouse**


False    40000
Name: Steakhouse, dtype: int64


В колонке **Latin**


False    40000
Name: Latin, dtype: int64


В колонке **Barbecue**


False    40000
Name: Barbecue, dtype: int64


В колонке **Argentinean**


False    40000
Name: Argentinean, dtype: int64


В колонке **Irish**


False    40000
Name: Irish, dtype: int64


В колонке **Seafood**


False    40000
Name: Seafood, dtype: int64


В колонке **Swiss**


False    40000
Name: Swiss, dtype: int64


В колонке **Portuguese**


False    40000
Name: Portuguese, dtype: int64


В колонке **Contemporary**


False    40000
Name: Contemporary, dtype: int64


В колонке **WineBar**


False    40000
Name: WineBar, dtype: int64


В колонке **Greek**


False    40000
Name: Greek, dtype: int64


В колонке **CentralAmerican**


False    40000
Name: CentralAmerican, dtype: int64


В колонке **Indian**


False    40000
Name: Indian, dtype: int64


В колонке **MiddleEastern**


False    40000
Name: MiddleEastern, dtype: int64


В колонке **Turkish**


False    40000
Name: Turkish, dtype: int64


В колонке **Hungarian**


False    40000
Name: Hungarian, dtype: int64


В колонке **Pakistani**


False    40000
Name: Pakistani, dtype: int64


В колонке **Peruvian**


False    40000
Name: Peruvian, dtype: int64


В колонке **Delicatessen**


False    40000
Name: Delicatessen, dtype: int64


В колонке **EasternEuropean**


False    40000
Name: EasternEuropean, dtype: int64


В колонке **Swedish**


False    40000
Name: Swedish, dtype: int64


В колонке **Scandinavian**


False    40000
Name: Scandinavian, dtype: int64


В колонке **Tibetan**


False    40000
Name: Tibetan, dtype: int64


В колонке **Nepali**


False    40000
Name: Nepali, dtype: int64


В колонке **Korean**


False    40000
Name: Korean, dtype: int64


В колонке **Southwestern**


False    40000
Name: Southwestern, dtype: int64


В колонке **Czech**


False    40000
Name: Czech, dtype: int64


В колонке **American**


False    40000
Name: American, dtype: int64


В колонке **Slovenian**


False    40000
Name: Slovenian, dtype: int64


В колонке **Balti**


False    40000
Name: Balti, dtype: int64


В колонке **StreetFood**


False    40000
Name: StreetFood, dtype: int64


В колонке **Diner**


False    40000
Name: Diner, dtype: int64


В колонке **BrewPub**


False    40000
Name: BrewPub, dtype: int64


В колонке **Caribbean**


False    40000
Name: Caribbean, dtype: int64


В колонке **Austrian**


False    40000
Name: Austrian, dtype: int64


В колонке **Moroccan**


False    40000
Name: Moroccan, dtype: int64


В колонке **Halal**


False    40000
Name: Halal, dtype: int64


В колонке **Lebanese**


False    40000
Name: Lebanese, dtype: int64


В колонке **Russian**


False    40000
Name: Russian, dtype: int64


В колонке **African**


False    40000
Name: African, dtype: int64


В колонке **Ethiopian**


False    40000
Name: Ethiopian, dtype: int64


В колонке **Egyptian**


False    40000
Name: Egyptian, dtype: int64


В колонке **Danish**


False    40000
Name: Danish, dtype: int64


В колонке **Brazilian**


False    40000
Name: Brazilian, dtype: int64


В колонке **Ecuadorean**


False    40000
Name: Ecuadorean, dtype: int64


В колонке **Israeli**


False    40000
Name: Israeli, dtype: int64


В колонке **Kosher**


False    40000
Name: Kosher, dtype: int64


В колонке **Gastropub**


False    40000
Name: Gastropub, dtype: int64


В колонке **Australian**


False    40000
Name: Australian, dtype: int64


В колонке **Singaporean**


False    40000
Name: Singaporean, dtype: int64


В колонке **Malaysian**


False    40000
Name: Malaysian, dtype: int64


В колонке **MinorityChinese**


False    40000
Name: MinorityChinese, dtype: int64


В колонке **Scottish**


False    40000
Name: Scottish, dtype: int64


В колонке **Arabic**


False    40000
Name: Arabic, dtype: int64


В колонке **Ukrainian**


False    40000
Name: Ukrainian, dtype: int64


В колонке **Chilean**


False    40000
Name: Chilean, dtype: int64


В колонке **Mongolian**


False    40000
Name: Mongolian, dtype: int64


В колонке **Cuban**


False    40000
Name: Cuban, dtype: int64


В колонке **Persian**


False    40000
Name: Persian, dtype: int64


В колонке **Indonesian**


False    40000
Name: Indonesian, dtype: int64


В колонке **Colombian**


False    40000
Name: Colombian, dtype: int64


В колонке **Jamaican**


False    40000
Name: Jamaican, dtype: int64


В колонке **Norwegian**


False    40000
Name: Norwegian, dtype: int64


В колонке **Hawaiian**


False    40000
Name: Hawaiian, dtype: int64


В колонке **Armenian**


False    40000
Name: Armenian, dtype: int64


В колонке **Taiwanese**


False    40000
Name: Taiwanese, dtype: int64


В колонке **Bangladeshi**


False    40000
Name: Bangladeshi, dtype: int64


В колонке **SriLankan**


False    40000
Name: SriLankan, dtype: int64


В колонке **Cambodian**


False    40000
Name: Cambodian, dtype: int64


В колонке **Albanian**


False    40000
Name: Albanian, dtype: int64


В колонке **NewZealand**


False    40000
Name: NewZealand, dtype: int64


В колонке **Croatian**


False    40000
Name: Croatian, dtype: int64


В колонке **CentralAsian**


False    40000
Name: CentralAsian, dtype: int64


В колонке **Filipino**


False    40000
Name: Filipino, dtype: int64


В колонке **Tunisian**


False    40000
Name: Tunisian, dtype: int64


В колонке **Cajun&Creole**


False    40000
Name: Cajun&Creole, dtype: int64


В колонке **Romanian**


False    40000
Name: Romanian, dtype: int64


В колонке **Georgian**


False    40000
Name: Georgian, dtype: int64


В колонке **Polynesian**


False    40000
Name: Polynesian, dtype: int64


В колонке **Azerbaijani**


False    40000
Name: Azerbaijani, dtype: int64


В колонке **Caucasian**


False    40000
Name: Caucasian, dtype: int64


В колонке **Afghani**


False    40000
Name: Afghani, dtype: int64


В колонке **Uzbek**


False    40000
Name: Uzbek, dtype: int64


В колонке **Salvadoran**


False    40000
Name: Salvadoran, dtype: int64


В колонке **Yunnan**


False    40000
Name: Yunnan, dtype: int64


В колонке **NativeAmerican**


False    40000
Name: NativeAmerican, dtype: int64


В колонке **Canadian**


False    40000
Name: Canadian, dtype: int64


В колонке **Xinjiang**


False    40000
Name: Xinjiang, dtype: int64


В колонке **Burmese**


False    40000
Name: Burmese, dtype: int64


В колонке **Fujian**


False    40000
Name: Fujian, dtype: int64


В колонке **Welsh**


False    40000
Name: Welsh, dtype: int64


В колонке **Latvian**


False    40000
Name: Latvian, dtype: int64


В колонке **minMoney**


False    40000
Name: minMoney, dtype: int64


В колонке **meanMoney**


False    40000
Name: meanMoney, dtype: int64


В колонке **maxMoney**


False    40000
Name: maxMoney, dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40000 entries, 0 to 39999
Columns: 134 entries, Restaurant_id to maxMoney
dtypes: float64(131), int64(3)
memory usage: 42.2 MB

In [38]:
df.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Number of Reviews,European,French,International,Japanese,...,NativeAmerican,Canadian,Xinjiang,Burmese,Fujian,Welsh,Latvian,minMoney,meanMoney,maxMoney
0,3.0,2138551.0,3.0,5570.0,3.5,194.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
1,10.0,1632123.0,3.0,1537.0,4.0,10.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
2,8.0,8908081.0,7.0,353.0,4.5,688.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
3,4.0,3644826.0,3.0,3458.0,5.0,3.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
4,14.0,1471508.0,3.0,621.0,4.0,84.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0

In [39]:
X = df.drop('Rating',axis = 1 )
y = df['Rating']

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
train_test_split

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25)

In [43]:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [44]:
regr = RandomForestRegressor(n_estimators=100)

In [45]:
regr.fit(X_train,y_train)

RandomForestRegressor()

In [46]:
y_preg = regr.predict(X_test)

In [47]:
y_preg

array([4.635, 3.935, 2.18 , ..., 3.78 , 4.085, 3.26 ])

In [48]:
print('MAE:',metrics.mean_absolute_error(y_test,y_preg))

MAE: 0.21657849999999998